Django==2.0.6
django-appconf==1.0.2
django-bootstrap-form==3.4
django-colorfield==0.1.14
django-compressor==2.2
django-jquery==3.1.0
django-sass-processor==0.7
django-static-precompiler==1.8.2
libsass==0.14.5
Pillow==5.1.0
pytz==2018.4
rcssmin==1.0.6
rjsmin==1.0.12
six==1.11.0
