<!DOCTYPE html>
{% load compile_static %}
{% load staticfiles %}
<html>
<head>
    {% block head %}
        <meta charset="utf-8">
        <title>{{ title | title }}</title>
        <link href="{% static 'shared/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'what_should_i_eat/css/base.sass'|compile %}" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    {% endblock %}
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>
            What should I eat?
            {% if title %}
                <small>- {{title | title}}</small>
            {% endif %}
        </h1>

        {% block header %}
            <div class="">

            </div>
        {% endblock %}
    </div>
    <div class="nav row">
        <div class="col-xs-12">
            {% block nav %}{% endblock %}
        </div>
    </div>
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
</div>
</body>
</html>
